#intro {
    display: none;
}

.line {
    margin: 0 !important;
}

.align_center {
    padding: 10px;
    width: 500px;
    margin: 0 auto;
}

.blockWithImage .imageWrapper {
    height: 90px;
}

.blockWithImage .imageWrapper img {
    display: block;
    margin: 0 auto;
}

textarea {
    width: 100% !important;
    height: 100px !important;
}

.portfolio {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 5%;
}

.portfolio > div {
    flex: 0 0 30%;
    margin: 0 0 50px;
}
